<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteCond %{SCRIPT_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?url=$1 [QSA]
  RewriteRule ^([a-zA-Z0-9-_/]+)$ index.php [QSA]

</IfModule>
